.calculator {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    width: 500px;
    height: 600px;
    gap: 5px;
    background-color: grey;
}
.btns {
    display: flex;
    justify-content: space-around;
}
.digits {
    display: grid;
    grid-template-columns: auto auto auto ; 
    grid-template-rows: auto auto auto;
    gap: 5%;
}

.btns button {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 40px;
}
.digits button {
    border: none;
    padding: 15px 32px;
    background-color: #CBAC44;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin: 5px
}

input {
    width: 98%;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: darkcyan;
}

.calculator #header {
    font-size: 50px;
    font-weight: bolder;
    color: white;
}

#answer, #equation{
    font-size: 30px;
}